.error {
    border: 2px solid #d32020
}

html {
  height: 100%;
}

body{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    align-content: center;
    font-size: large;
}
img{
    width: 30%;
    display:block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}
#lines{
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    border-style: dashed;
}

fieldset {
  display: block;
  margin-top: 1%;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-bottom: 1em;
  border: 2px dashed ;
}

label{
    line-height: 2em;
}

fieldset a{
    padding-left: 10px;
    padding-right: 10px;
}

fieldset p{
  width: 80%;
  margin: 10px 0;
  float: left;
}

.searchResults input{
  width: 15px;
  height: 15px;
}

.pubFieldSet{
  margin: 30px;
}

#autorizacnyFormular, #uvodnyFormular{
  margin-top: 20px;
}

.year, .volume, .source, .issue, .pages, .count, .doi{
  display: inline-block;
  border: 1px solid ;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom : 10px;
  padding: 1px;
}

fieldset button{
  width: 20%;
}

h1{
  margin-top: 8px;
  text-align: center;
}

form{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

button:hover {
  background-color: #FFFFFF; 
  color: black;
  border:1px solid;
  border-color: black;
}

.copied {
  border:2px solid;
  box-shadow: 3px 4px 7px rgb(30, 30, 230);
}

button {
  transition-duration: 1s;
  background-color: #000000; 
  border: none;
  color: white;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button.copy{
    margin: 0;
    float:right;
    margin: 10px 0;
    width: 100px;
}
fieldset.checked {
  border: 2px solid ;
  box-shadow: 3px 4px 7px rgb(240, 52, 93);
}